/target/

# Java
*.class

# Eclipse IDE
bin/
.settings/

# JetBrains IDE
out/
.idea/
*.iws
*.iml
*.ipr
doc/SearchReplaceV2.ucls
doc/SearchReplace.ucls
/build/
.externalToolBuilders/org.eclipse.m2e.core.maven2Builder.launch
.classpath
.project
.settings/org.eclipse.m2e.core.prefs
